[submodule "auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/sexp"]
	path = bundle/sexp
	url = https://github.com/guns/vim-sexp.git
[submodule "bundle/sexp-for-regular-people"]
	path = bundle/sexp-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/onedark"]
	path = bundle/onedark
	url = https://github.com/geoffharcourt/one-dark.vim.git
